# Manipulating CSVs

In [1]:
import csv

In [2]:
ls *.csv

COVIDSummaryData-05-13.csv  covid-2020-05-15.csv
COVIDSummaryData.csv

In [12]:
with open ('csv1.csv') as infile:
    reader1 = csv.DictReader(infile)
    data1 = list(reader1)

In [13]:
with open ('csv2.csv') as infile:
    reader2 = csv.DictReader(infile)
    data2 = list(reader2)

In [14]:
data1

[OrderedDict([('speed', '10'), ('track', '100')]),
 OrderedDict([('speed', '20'), ('track', '200')])]

In [18]:
data1[0]['speed']

'10'

In [19]:
data2

[OrderedDict([('speed', '1000'), ('track', '10000')]),
 OrderedDict([('speed', '20000'), ('track', '20000')])]

In [26]:
with open('csv3.csv', 'w') as outfile:
    writer = csv.DictWriter(outfile, fieldnames=['track', 'speed'])
    writer.writeheader()
    writer.writerows(data1 + data2)

In [27]:
!cat csv3.csv

track,speed
100,10
200,20
10000,1000
20000,20000

# Using pandas

In [31]:
import pandas as pd

In [33]:
df1 = pd.read_csv("csv1.csv")

In [34]:
df1

   speed  track
0     10    100
1     20    200

In [36]:
df1.speed.max()

20

In [40]:
df2 = pd.read_csv("csv2.csv")

In [41]:
df1 + df2

   speed  track
0   1010  10100
1  20020  20200

In [43]:
df1

   speed  track
0     10    100
1     20    200

In [46]:
df3 = pd.concat([df1, df2])

In [47]:
df3

   speed  track
0     10    100
1     20    200
0   1000  10000
1  20000  20000

In [50]:
df3[df3.speed > 100]

   speed  track
0   1000  10000
1  20000  20000

In [55]:
df3.to_csv('csv3.csv')

In [56]:
!cat csv3.csv

,speed,track
0,10,100
1,20,200
0,1000,10000
1,20000,20000

In [60]:
pd.read_sql_table("cases", "sqlite:///covid.db")

Empty DataFrame
Columns: [county, sex, age_range, onset_date, onset_epoch_sec, date_of_death, death_epoch_sec, admission_date, admission_epoch_sec, case_count, death_count, hospitalized_count, download_epoch_sec]
Index: []